*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  background-color: #66bfbf;
  color: rgb(78, 23, 66);
}

.ovh {
  overflow: hidden;
}

.hamburger {
  position: fixed;
  z-index: 1000;
  top: 20px;
  left: 20px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-102%, 0);
  background-color: #66bfbf;
  transition: transform 0.3s;
  z-index: 10;
}
.nav-mobile--active {
  transform: translate(0, 0);
}
.nav-mobile__list {
  list-style: none;
  padding: 2em 0;
}
.nav-mobile__link {
  text-decoration: none;
  font-size: 3rem;
  position: relative;
  color: rgb(78, 23, 66);
}
.nav-mobile__link:hover::before {
  transform: scaleY(1);
}
.nav-mobile__link::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 3px;
  left: -20px;
  background-color: rgb(78, 23, 66);
  transform: scale(0);
  transition: transform 0.3s;
}

.header {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
}
.header__content {
  position: absolute;
  grid-column: 1/-1;
  grid-row: 4/-1;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: 1em 2em;
  color: rgb(78, 23, 66);
  background-color: #66bfbf;
  z-index: 2;
}
.header__content-title {
  font-family: "Courgette", "Quicksand";
  font-size: 1.8rem;
}
.header__content-paragraph {
  font-size: 1rem;
}
.header__content-cta {
  display: block;
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  -webkit-animation: heartbeat 6s ease-in-out infinite both;
          animation: heartbeat 6s ease-in-out infinite both;
}
.header__content-cta-callicon {
  width: 14px;
  height: 14px;
}
.header__hero {
  grid-column: 1/-1;
  grid-row: 1/4;
  background-image: url(../img/herosmall.jpeg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.section-title {
  text-align: center;
  font-size: 3.2rem;
  color: rgb(78, 23, 66);
  margin-bottom: 1em;
}

.section-padding {
  padding: 6em 2em;
}

.section {
  background-color: #66bfbf;
}

.section-darker {
  background-color: #36b3b3;
}

.aboutus {
  background-color: #36b3b3;
}
.aboutus .aboutus-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutus__ceo-img {
  background-image: url(../img/ceo.jpg);
  width: 225px;
  height: 225px;
  border-radius: 50%;
  border: 3px solid rgb(78, 23, 66);
  background-position: center;
  background-size: cover;
  align-self: center;
}
.aboutus__ceo-name {
  font-size: 2.6rem;
  margin-bottom: 0.5em;
  text-align: center;
}
.aboutus__ceo-info {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 5em;
}
.aboutus__accordion-info-text {
  margin-bottom: 0.5em;
}
.aboutus__accordion {
  width: 80%;
  background-color: #36b3b3;
  border-radius: 8px;
}
.aboutus__accordion-box {
  margin: 20px;
}
.aboutus__accordion-box:last-child {
  margin-bottom: 5em;
}
.aboutus__accordion-btn {
  padding: 1em 2em;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: rgb(78, 23, 66);
  font-size: 1.2rem;
}
.aboutus__accordion-btn:hover, .aboutus__accordion-btn:focus {
  background-color: rgb(78, 23, 66);
  color: rgb(255, 255, 255);
  outline: none;
}
.aboutus__accordion-info {
  padding: 1em 2em;
  display: none;
}
.aboutus__accordion-info-text {
  font-size: 1rem;
}
.aboutus__accordion-info--active {
  display: block;
}

.why__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1em;
  border-radius: 8px;
}
.why__box {
  display: flex;
  flex-direction: column;
}
.why__item {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
}
.why__item-h3 {
  font-size: 2.1rem;
  margin-bottom: 0.5em;
}
.why__item-p {
  font-size: 1.2rem;
}

.reviews-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.reviews-box .review-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 400px;
  background-color: #fff;
  margin: 1em 1em;
  padding: 0 3em;
  border-radius: 8px;
  box-shadow: 1px 1px 15px rgb(0, 0, 0);
  font-size: 1rem;
  text-align: center;
  transition: transform 0.3s;
}
.reviews-box .review-box:hover {
  transform: scale(0.95);
}
.reviews-box .review-box .review-author {
  display: block;
  position: absolute;
  top: 10%;
  font-size: 1.4rem;
  margin-bottom: 1em;
}
.reviews-box .review-box .review-content {
  display: block;
  font-size: 1rem;
}
.reviews-box .review-box .review-content--lowerfz {
  font-size: 0.8rem;
}

.source {
  text-align: center;
  font-size: 1.2rem;
}

.offer__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em 0;
}
.offer__sort-btn {
  margin: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.4rem;
  text-transform: uppercase;
  background: none;
  border: 2px solid rgb(78, 23, 66);
  color: rgb(78, 23, 66);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}
.offer__sort-btn:hover {
  transform: scale(1.1);
}
.offer__sort-btn--active {
  background-color: rgba(255, 196, 255, 0.6);
}
.offer__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.offer__box {
  position: relative;
  height: 650px;
  background-color: #fff;
  border-radius: 8px;
  margin: 1em;
  width: 100%;
  box-shadow: 3px 3px 15px black;
  transition: transform 0.3s;
}
.offer__box:hover {
  transform: scale(0.95);
}
.offer__img {
  border: 2px solid rgb(78, 23, 66);
  border-radius: 8px;
  position: absolute;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  height: 400px;
  width: 85%;
}
.offer__body {
  padding: 2em;
  position: absolute;
  top: 420px;
  text-align: center;
}
.offer__title {
  font-size: 1.4rem;
  margin-bottom: 0.5em;
}
.offer__description {
  font-size: 1rem;
}
.offer__description--lowerfz {
  font-size: 0.9rem;
}

.prices__product-type {
  font-size: 2.1rem;
  margin-bottom: 1em;
  text-align: center;
}
.prices__price {
  background-color: rgb(255, 196, 225);
  font-weight: bold;
}
.prices__tab-size {
  background-color: rgba(212, 228, 228, 0.9);
}
.prices__thead {
  background-color: #fff;
}
.prices__thead tr {
  border: 2px solid rgb(78, 23, 66);
}
.prices__thead tr th {
  border-radius: 8px;
  border: 2px solid rgb(78, 23, 66);
}
.prices__tab {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2em;
}
.prices__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.prices__box td {
  padding: 1em;
  border-radius: 8px;
  border: 2px solid rgb(78, 23, 66);
}

.gallery__paragraph {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1em;
}
.gallery__paragraph-a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.gallery__paragraph-a:hover::before {
  transform: scaleX(1);
}
.gallery__paragraph-a::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s;
}
.gallery__img {
  width: 100%;
  margin: 1em;
  border-radius: 8px;
}
.gallery__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact__section-title {
  color: rgb(255, 255, 255);
  z-index: 10;
  padding: 0.5em 0;
  font-weight: normal;
}
.contact__content-text {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  z-index: 10;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 1em 4em;
}
.contact__bg {
  position: relative;
  background-image: url(../img/contact_small.jpg);
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.contact__bg-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 71, 71, 0.8);
  z-index: -2;
}
.contact__company {
  font-size: 1.4rem;
  margin: 0.3em 0;
}
.contact__data {
  font-size: 1.2rem;
  margin: 0.2em 0.5em;
}
.contact__data-icon {
  width: 40px;
}
.contact__link {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.contact__link:hover::before {
  transform: scaleX(1);
}
.contact__link::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s;
}

.footer {
  padding: 1em;
  font-size: 1.4rem;
}
.footer__paragraph {
  text-align: center;
}

@media (min-width: 350px) {
  .header__content-title {
    font-size: 3.2rem;
  }
  .header__content-paragraph {
    font-size: 1.2rem;
  }
  .header__content-cta {
    font-size: 1.6rem;
  }
  .header__content-cta-callicon {
    width: 16px;
    height: 16px;
  }
  .contact__company {
    font-size: 1.8rem;
  }
  .contact__data {
    font-size: 1.4rem;
  }
  .reviews-box .review-box .review-content--lowerfz {
    font-size: 1rem;
  }
}
@media (min-width: 576px) {
  .header__content-title {
    font-size: 4.2rem;
  }
  .header__content-paragraph {
    font-size: 1.8rem;
  }
  .header__content-cta {
    font-size: 2.1rem;
  }
  .header__content-cta-callicon {
    width: 21px;
    height: 21px;
  }
  .offer__box {
    width: 100%;
  }
  .why__item-description {
    padding: 2em 6em;
  }
}
@media (min-width: 600px) {
  .offer__box {
    width: 45%;
  }
}
@media (min-width: 768px) {
  .header__hero {
    background-image: url(../img/herobig.jpeg);
  }
  .header__content-title {
    font-size: 4.8rem;
  }
  .header__content-paragraph {
    font-size: 2.4rem;
  }
  .header__content-cta {
    font-size: 2.4rem;
  }
  .header__content-cta-callicon {
    width: 24px;
    height: 24px;
  }
  .why__item-h3 {
    font-size: 2.6rem;
  }
  .why__item-p {
    font-size: 1.4rem;
  }
  .contact__bg {
    background-image: url(../img/contact_big.jpg);
  }
  .contact__company {
    font-size: 2.6rem;
  }
  .contact__data {
    font-size: 1.8rem;
  }
  .gallery__img {
    width: 45%;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 2em;
  }
  .contact__content-text {
    justify-content: center;
  }
  .nav-desktop {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: rgba(212, 228, 228, 0.9);
    z-index: 500;
    justify-content: center;
    align-items: center;
  }
  .nav-desktop__img {
    width: 65px;
  }
  .nav-desktop__list-item {
    display: inline-block;
    padding: 0 15px;
  }
  .nav-desktop__links {
    width: 70%;
    max-width: 1500px;
    display: flex;
    justify-content: flex-end;
    row-gap: 20px;
  }
  .nav-desktop__link {
    position: relative;
    text-decoration: none;
    font-size: 1.8rem;
    color: rgb(78, 23, 66);
  }
  .nav-desktop__link:hover::before {
    transform: scaleX(1);
  }
  .nav-desktop__link::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: rgb(78, 23, 66);
    transform: scale(0);
    transition: transform 0.3s;
  }
  .hamburger {
    display: none;
  }
  .header__content {
    grid-row: 1/-1;
    grid-column: 1/2;
  }
  .header__hero {
    grid-row: 1/-1;
    grid-column: 2/3;
  }
  .offer__box {
    width: 31%;
  }
  .why__img {
    width: 50%;
  }
  .why__img--right {
    order: 1;
  }
  .why__item-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6em;
  }
  .gallery__img {
    width: 30%;
  }
}
@media (min-width: 576px) and (max-width: 668px) {
  .offer__box {
    height: 680px;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-10-6 17:59:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}/*# sourceMappingURL=main.css.map */