$light-pink: rgb(255, 196, 225);
$light-pink-opaque: rgba(255,196,255,.6);
$maincolor1: #66bfbf;
$maincolor1-opaque: rgba(102, 191, 191, .6);
$light-green: rgb(234, 234, 234);
$beuge: rgb(238, 215, 206);
$font-logo: rgb(78,23,66);
$white: rgb(255,255,255);
$grey: rgb(234, 246, 246);
$active-color: rgb(247, 107, 138);
$why-bg-shade: rgba(13, 71, 71, 0.8);
$h3color: rgb(207, 226, 161);
$p-color: #551A8B;